<html>
    <head>
        <meta charset="utf-8">
        <title>Vue</title>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <lable><input v-model="inputValue" type="radio" value="一">一</lable>
            <lable><input v-model="inputValue"  type="radio" value="二">二</lable>
            <lable><input v-model="inputValue"  type="radio" value="三">三</lable>
            <p>你选择的值是{{inputValue}}</p>
        </div>
    </body>
       <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data:{
                inputValue:'一',
            }
        });
    </script>
</html>